@theme {
  --color-primary: #FF6900;
  --color-secondary: #00BBA7;

  /* Text Colors */
  --color-text-main: #1E2939;
  --color-text-muted: #4A5565;

  /* Background Colors */
  --color-background: #FFFFFF;
  --color-surface: #F4F5F7;

  /* Fonts */
  --font-display: "Prompt", sans-serif;
  --font-sans: "Prompt", sans-serif;

  /* Animation Curves */
  --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-sans);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Systemic Typography Rules */
h1,
h2,
h3,
h4,
h5,
h6,
.font-display {
  font-family: var(--font-display);
  font-weight: 600;
  letter-spacing: -0.04em;
}

::selection {
  background-color: var(--color-primary);
  color: white;
}